body{
    background-color: #333;
    color: white;
}

header{
    padding: 10px 10px;
    margin: 10px;
}

.location{
    display: block;
    width: 90%;
    height: 180px;
    padding: 30px;
    margin: 10px auto;/*ブロックを中央に*/
    text-decoration: none;
    color: inherit;
}

.location:hover{
    filter: brightness(50%)
}

.location-content{
    display: block;
}

#aquarium{
    background-image: url(../img/その他/jellyfish-3814142_1280.jpg);
    color: #ffffffe6;
}

#museum{
    background-image: url(../img/その他/animal-7888465_1280.jpg);
    background-position: center;
    background-size: 100%;
    color: #ffffffe6;
}

#art-museum{
    background-image: url(../img/その他/museum-1570823_1280.jpg);
    background-position: center;
    color: #ffffffe6;
}

.description{
    max-width: 60%;
    line-height: 1.8;
    margin: 10px auto;
    font-size: large;
}

hr{
    width: 95%;
}


/*ページの背景画像を指定*/
#page3{
    background-image: url();
}

/*メニュー*/
#menu-button{
    position: fixed;/*位置固定*/
    top: 5px;
    left: 10px;
    font-size: 2vw;
    color:white;/*三本線の色*/
    border: none;
    cursor: pointer;
    background-color: #77889980;/*メニューボタンの色*/
    z-index: 1000;/*最前面に*/
}

#menu-button:hover{
    background-color: #63768d80;/*マウスを乗せたときの色*/
}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    /*メニューバーの大きさ*/
    width: 20vw;
    height: 100%;
    background-color: #ADCBEB80;/*メニューバーの色*/
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: 0.4s ease;
    z-index: 999;
}

#menu.show{
    transform: translateX(0);/*左からスライドイン*/
}

#page-content.filter{
    filter: blur(4px) brightness(30%);
}

#menu ul{
    list-style: none;
    padding: 0;
}

#menu li{
    margin:10px 0;
}

#menu a{
    text-decoration: none;
    color:#ffffffe6;
    font-weight: bold;
    font-size: 25px;
}

#menu a:hover{
    text-decoration: underline;
}


