body{
    margin: none;
}

#home{
    background-image: url(../img/japan-9641526_1280.webp);
}

#page1{
    background-image: url();
}

#page2{
    background-image: url();
}

#page3{
    background-image: url();
}

.page-button{
    position: absolute;
    top: 30%;
    left: 40%;
    padding: 8px 12px;/*上下 左右*/
    background-color: #77889980;/*ページボタンの背景色*/
    color: white;/*ページボタンのフォントカラー*/
    text-decoration: none;/*下線削除*/
    border-radius: 6px;
    font-size: 3vw;
    cursor: pointer;/*指マーク*/
}

.page-button:hover{
    background-color: #63768d80;
}

/*メニュー*/
#menu-button{
    position: fixed;
    top: 5px;
    left: 10px;
    font-size: 2vw;
    color:white;/*三本線の色*/
    border: none;
    cursor: pointer;
    background-color: #77889980;/*メニューボタンの色*/
    z-index: 1000;/*最前面に*/
}

#menu-button:hover{
    background-color: #63768d80;
}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100%;
    background-color: #ADCBEB80;/*メニューバーの色*/
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: 0.4s ease;
    z-index: 999;
}

#menu.show{
    transform: translateX(0);/*左からスライドイン*/
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li{
    margin: 5px 0;
}

#menu a{
    text-decoration: none;
    color: #333;
}

#menu a:hover{
    text-decoration: underline;
}


.page-content{
    padding: 30px 30px;
}
